/* @import url('css/satoshi.css'); */

@font-face {
    font-family: EBGaramond;
    src: url(.fonts/EBGaramond-VariableFont_wght.ttf);
}

:root {
    background-color: #FFFFFF;
    --primary-font-family: Satoshi-Variable;
    --secondary-font-family: EBGaramond;
    font-family: var(--primary-font-family);
    --primary-color: #000000;
    --secondary-color: #565656;
    --header-color: #0B24F5;
    color: var(--primary-color);
    font-style: normal;
}

body {
    min-width: 320px;
    Overflow-x: hidden;
}

p {
    font-family: var(--secondary-font-family)
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
}

.section-header-img {
    display: none;
}

.section {
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 414px;
}

.main-section {
    padding: 0 24px;
}

.section h1 {
    padding: 64px 0 40px 0;
    font-size: 80px;
    font-weight: 700;
    line-height: 108px;
    color: var(--header-color);
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 24px;
}

.personal-info-profile-img {
    align-self: center;
}

.profile-img {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    margin: 29px;
}

.name {
    color: var(--header-color);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.jobtitle {
    font-size: 24px;
    font-weight: 900;
    text-align: left;
}

.secondary-jobtitle {

    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color)
}

.summary {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
}

.contact-img {
    width: 23px;

}

.section-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 24px; */
}

.footer-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-icon i {
    color: #D0D0D0;
}

.section-scroll {
    padding: 0 24px;
    width: 300px;
}

.section-scroll p {
    color: var(--header-color);
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-decoration: underline;
}

.section-scroll a i {
    color: var(--header-color)
}

.section-tech {
    background: #EDFFFF;
    height: 530px;
    padding: 0 24px;
}

.section-tech p {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}

.span-js {
    background-color: #EB5577;
    color: #FFFFFF;
}

.span-react {
    background-color: var(--header-color);
    color: #FFFFFF;
}

.span-mobprog {
    background-color: #2483E0;
    color: #FFFFFF;
}

.section-featured-projects {
    padding: 0 24px;
}

.subsection-featured-project {
    padding: 24px 0 18px 0;
}

.section-featured-projects h1 {
    font-size: 72px;
}

.featured-project-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.featured-project-img img {
    height: 280px;
    width: 327px;
    padding: 0 0 12px 0;
    width: 100%;
}

.subsection-featured-project a {
    text-decoration: none;
}

.subsection-featured-project h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 43px;
    padding: 12px 0 9px 0;
}

.subsection-featured-project p {
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    padding: 9px 0 10px 0;
}

.tech-stack {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4px;
    margin: 10px 0 14px 0;
}

.tech-stack p {
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 2px 6px;
}

.section-mywords {
    background: #FCEDEA;
    padding: 0 24px;
}

.section-mywords h1 {
    color: #EB5577;
    font-size: 72px;
    line-height: 97px;
}

.subsection-mywords {
    padding: 24px 0 18px 0;
}

.subsection-mywords-summary {
    padding: 26px 0 18px 0;
}

.subsection-mywords-summary h4 {
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 900;
    line-height: 27px;
    color: #EB5577;
    padding: 2px 0 2px 0;
}

.mywords-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mywords-img img {
    /* height: 340px;
    width: 327px; */
    width: 100%;
    object-fit: fill;
    padding: 0 0 12px 0;
}

.subsection-mywords-summary h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 43px;
    padding: 2px 0 15px 0;
}

.subsection-mywords-summary p {
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    padding: 9px 0 10px 0;
}

.button {
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    height: 48px;
    border-radius: 40px;
    background-color: #F5F5F5;
    color: #333333;
    border-style: none;
    margin: 12px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    padding: 0px 16px 0px 8px;
    width: 200px;
    text-decoration: none;
}

.read-article-btn {
    background-color: #FFFFFF;
}

.read-article-btn:hover {
    background-color: #FFD338;
}

.github-btn:hover svg path {
    fill: #FFFFFF;
}

.github-btn:hover {
    color: #FFFFFF;
    background: #EB5577;
}

.livedemo-btn:hover svg path {
    fill: #FFFFFF;
}

.livedemo-btn:hover {
    background-color: #0B24F5;
    color: #FFFFFF;
}

.section-skills {
    background-color: #FDF2E4;
    padding: 0 24px 64px 24px;
    justify-content: center;
}

.skill-group {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skill-group h4 {
    color: #FFFFFF;
    margin: 0 0 18px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.code h4 {
    background: #EB5577;
}

.toolbox h4 {
    background: #2483E0;
}

.more h4 {
    background: #0B24F5;
}

.upcoming h4 {
    background: #6DB486;
}

.contact-details {
    margin: 56px 0 103px 0;
}

.contact-details h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    font-family: var(--primary-font-family);
}

.section-time-to-talk {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-time-to-talk h1 {
    color: #EB5577;
    font-weight: 900;
    font-size: 58px;
    line-height: 78px;
}

.footer {
    padding: 0 0 97px 0;
}

i:hover {
    color: #000000;
}

/* MOBILE */
@media (min-width: 375px) {

    .name {
        color: var(--header-color);
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    }

    .jobtitle {
        font-size: 32px;
        font-weight: 900;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
    }

    .secondary-jobtitle {

        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--secondary-color)
    }

    .summary {
        font-weight: 400;
        font-size: 22px;
        line-height: 29px;
        margin: 40px 0;
    }

}


/* TABLET */
@media (min-width: 744px) {

    .header {
        justify-content: space-between;
    }

    .section {
        max-width: 100%;
    }

    .section-header-img {
        display: block;
        width: 100%
    }

    /* .section-scroll {
        position: absolute;
        left: calc(50% - 150px);
        top: 98vh;
    } */

    .main-img {
        width: 100%;
        height: 50vh;
    }

    .personal-info {
        display: grid;
        grid-template-columns: 0.1fr 0.8fr;
        grid-template-rows: 0.4fr 0.4fr 0.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "personal-info-profile-img personal-info-summary"
            "personal-info-paragraph personal-info-paragraph"
            "contact-details contact-details"
            "section-contact section-contact"
            "footer-contact footer-contact";
    }

    .personal-info-profile-img {
        justify-self: end;
        align-self: center;
        grid-area: personal-info-profile-img;
    }

    .personal-info-summary {
        justify-self: start;
        align-self: center;
        grid-area: personal-info-summary;
    }

    .personal-info-paragraph {
        justify-self: start;
        align-self: center;
        grid-area: personal-info-paragraph;
    }

    .section-contact {
        justify-self: start;
        align-self: stretch;
        grid-area: section-contact;
        justify-content: start;
        gap: 41px;
        padding: 40px 0;
    }

    .section-tech p {
        margin: 0 122px;
    }

    .subsection-featured-project {
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.1fr 0.2fr;
        gap: 0 24px;
        grid-template-areas:
            "featured-project-img featured-project-description featured-project-description"
            "featured-project-img tech-stack tech-stack"
            "featured-project-img livedemo-btn github-btn";
    }

    .github-btn {
        grid-area: github-btn;
    }

    .livedemo-btn {
        grid-area: livedemo-btn;
    }

    .tech-stack {
        grid-area: tech-stack;
    }

    .featured-project-description {
        grid-area: featured-project-description;
    }

    .featured-project-img {
        grid-area: featured-project-img;
    }

    .featured-project-img img {
        height: 100%;
        object-fit: cover;
        width: 184px;
    }

    /* My words */

    .section-mywords {
        padding: 0 89px;
    }

    .section-mywords h1 {
        width: 564px;
        font-size: 80px;
    }

    .subsection-mywords {
        padding: 24px 0 72px 0;
        max-width: 564px;
    }

    .mywords-img img {
        height: 340px;
        width: 564px;
    }

    /* Skills */

    .skill-group-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 39px 33px;
    }

    /* Time to talk */

    .section-time-to-talk h1 {

        font-weight: 900;
        font-size: 120px;
        line-height: 162px;
    }

    .contact-details {
        justify-self: center;
        grid-area: contact-details;
    }

    .contact-details h3 {
        font-size: 32px;
    }

    .footer-contact {
        justify-self: center;
        grid-area: footer-contact;
    }
}

/* DESKTOP - normal */
@media (min-width: 1280px) {

    .section-scroll {
        position: absolute;
        left: calc(50% - 150px);
        top: 98vh;
    }

    .header {
        flex-direction: row-reverse;
        justify-content: stretch;
    }

    .section-header-img {
        width: 50vw;
    }

    .main-img {
        height: 100vh;
        object-fit: cover;
    }

    .personal-info {
        padding: 0 48px;
        grid-template-columns: 0.1fr 1fr;
        width: 50vw;
    }

    .section {
        max-width: 100%;
    }

    .section-tech {
        flex-direction: row;
        padding: 0 230px;
    }

    .section-featured-projects {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .subsection-featured-project {
        max-width: 820px;
    }

    .featured-project-img {
        align-self: stretch;
    }

    .featured-project-img img {
        width: 280px;
        /* height:280px; */
    }

    /* My words */
    .section-mywords {
        padding: 0 86px;
        /* When adding more articles this sections should be commented out: */
        /* display: grid;
        grid-template-columns: 0.5fr 0.5fr; */
    }

    .section-mywords h1 {
        grid-column-end: span 2;
        width: 540px;
    }

    .mywords-img img {
        width: 540px;
    }

    .subsection-mywords {
        max-width: 540px;
        justify-self: center;
    }

    .skill-group-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* Time to talk */

    .section-time-to-talk {
        max-width: 700px;
    }

}

/* DESKTOP - large */
@media (min-width: 1512px) {

    .header {
        max-width: 1700px;
    }

    .section-mywords h1 {
        width: 564px;
        width: 100%;
    }

    .subsection-mywords {
        max-width: 564px;
    }

    .mywords-img img {
        width: 564px;
    }

    .section-tech p {
        max-width: 820px;
    }
}