
:root {
    background-color: #FFFFFF;
    --primary-font-family: Satoshi-Variable;
    --secondary-font-family: EBGaramond;
    font-family: var(--primary-font-family);
    --primary-color: #000000;
    --secondary-color: #565656;
    --header-color: #0B24F5;
    color: var(--primary-color);
    font-style: normal;
}

body {
    min-width: 320px;
    Overflow-x: hidden;
}

p {
    font-family: var(--secondary-font-family)
}
